*{
    padding:0;
    margin: 0;
}

aside{
    height: 100vh;
    width: 30vw;
    background-color:black;
    margin-top: 0;
    top: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    z-index: 2;
    border-right: 2px solid white;
}

#chat{
    position:absolute;
    left: 30%;
    bottom: 0;
    width: 70vw;
   
}

.fa-arrow-left{
    font-size: 30px;
    position: relative;
    right: 190px;
    top: 20px;
    color: white;


}

.fa-paper-plane{
    font-size: 30px;
    color: white;
}


#chatInput{
    padding: 10px;
    height: 20px;
    width: 60vw;
    border: 1px solid #134B70;
    border-radius: 10px;
}

#send{
    height: 45px; 
    width: 60px;
    border: none;
    background: none;
}

.showFollowerPeople{
    height: 110px;
    width: 400px;
    background-color:#525252;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px;
    border-radius: 20px;
}

.followersProfile{
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

.followersName{
    font-size: 20px;
    color: white;

}

#showUsersDiv{
    margin-top: 25px;
    overflow-y: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
}


#chat{
    display:grid;
    grid-template-rows: 10% 83% 7%;
    height: 100vh;
    /* margin-left: 30vw; */
}

.header{
    height: 10vh;
    background-color:black;
    display: flex;
    justify-content: start;
    align-items: center;

}

#chatUserProfile{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: none;
    margin-left: 50px;
}

#chatUsername{
    font-size: 30px;
    margin-left: 30px;
    color: white;
}
#messages{
    height: 80vh;
}

.footer{
    height: 7vh;
    background-color:black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.messageBubble {
    padding: 0.5rem; 
    border-radius: 0.5rem;
    margin-bottom: 0.5rem; 
    max-width: 20rem; 
    word-wrap: break-word;
  }
  
.sender {
    background-color: #3b82f6;
    color: white; 
    position:relative;
    left:68%;
  }
  
.receiver {
    background-color: #e5e7eb;
    color: #374151; 
    position:relative;
    left: 0;
}

.Msg{
    font-size: 50px;
    padding: 20px;
    border-radius: 20px;
    color: rgb(255, 5, 5);
    display: flex;
    justify-content: center;
    align-items: center;

}

.Msg div{
    position: relative;
    top: 400px;
}

.notSelectiveDiv{
    height: 100vh;
    width:70vw;
    position: absolute;
    top: 0;
    right: 0;
    background-color:white;
    display: block;
}


  
  

