*{
    margin: 0;
    padding: 0;
}

header{
    display: grid;
    grid-template-columns: 50% 50%; 
    /* background-color: #252734; */
    height: 7vh;
    width: 80vw;
    margin-top: 0;
    top: 0;
    position: fixed;
    margin-left: 2px;
    border-bottom: 2px solid white;
    margin-left: 20vw;
    
}


aside{
    height: 100vh;
    width: 20vw;
    background-color: #333647;
    margin-top: 0;
    top: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-right: 2px solid white;
    z-index: 2;

}

.postSection{
    margin-top:7vh;
}

.messageIcon{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.hello{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#nameDisplay{
    margin-left: 40px;
}
.messageIcon button{
    
    margin-right: 20px;
    background: none;
    border: none;
    color: white;
}

.messageIcon button i{
    color: white;
    font-size: 20px;
    z-index: 1;
}



.hello span{
    margin-left: 10px;
    font-size: 25px;
    color: white;
}

aside span img{
    height: 80px;
    width: 200px;
}

aside a{
    color: black;
    text-decoration: none;
    font-size: 25px;
    box-sizing: border-box;
    padding: 15px 70px 15px 70px;
    /* background-color:#323EDD; */
    /* background-color: #12ceda; */
    background: radial-gradient(circle,#1d8b8b,#12ceda 100%);
    border-radius: 20px;
}

main{
    margin-left: 20%;
    display: grid;
    grid-template-rows:15% 85%;
    background-color:#252734;
}

a i{
   color: black;
   margin-right: 15px;
}

aside a:hover{
    background: radial-gradient(circle,#12ceda,#1d8b8b 100%);
}

aside a:focus{
    background: radial-gradient(circle,#12ceda,#1d8b8b 100%);
}

#Logout:hover{
    background: radial-gradient(circle,#12ceda,#1d8b8b 100%);
}
#Logout :focus{
    background: radial-gradient(circle,#12ceda,#1d8b8b 100%);
}





#ProfileLogout{
    /* background-color:#323EDD; */
    background: radial-gradient(circle,#1d8b8b,#12ceda 100%);
    padding: 15px 70px 15px 70px;
    color: black;
    font-size: 25px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.mainSection{
    display: grid;
    grid-template-rows: 15% 85%;

}

.post-image{
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin: 30px;
}

.setProfile{
    position: fixed;
    height: 30%;
    width: 80%;
    border-bottom: 2px solid white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #333647;
    z-index: 1;
    display: grid;
    grid-template-columns: 2fr 1fr;
    
}

#ProfileImg{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    border: #12ceda solid 2px;
    box-shadow: 0 0 10px 5px white; /* Creates a white shadow */
                     /* Removes inline spacing if needed */
    margin: 20px; 
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 30px;

}

#nameDis{
    font-size: 50px;
    color: white;
}

.head{
    display: flex;
    justify-content:center;
    align-items: center;
}

#fileDisplay{
    margin-top: 24%;
    width: 79vw;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    background-color: #252734;

}
footer{
    display: none;
}

.settings{
    
    height: 150px;
    width: 150px;
    background: radial-gradient(circle,#1d8b8b,#12ceda 100%);
    display: none;

   
}

.settings div{
    margin-top: 15px;
    margin-left: 20px;
    position: relative;
    
}

#ellipsis{
    height: 30px;
    width: 60px;
    background-color: #12ceda;
    border: none;
    position: relative;
    bottom: 30px;
    
}

.fa-ellipsis{
    font-size: x-large;

}

#Choose{
    padding: 9px;
    width:90px ;
    background-color:#252734;
    color: white;
    border: none;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 30px;
}
#Remove{
    height: 40px;
    width: 110px;
    background-color:white;
    color: black;
    border: none;
    margin-right: 500px;

}

input[type="file"] {
    color: transparent; /* Make the text (e.g., file name) invisible */
    width: 120px; /* Adjust width for your design */
    cursor: pointer; /* Keep the pointer behavior */
  }


  
  
  

