*{
    padding: 0;
    margin: 0;
    
    
}

body{
    background-image: url(/assests/photos/backgroundImage1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

}
.container{
    display: grid;
    grid-template-rows:20% 80%;
    
    
}

.logobox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logobox marquee{
    color: white;
    background: none;
    position: absolute;
    top: 200px;
    font-size: 30px;
    height: 100px;
    width: 300px;
    text-shadow: 10px 10px 10px black;
}

.logo{
    height:300px;
    width: 300px;
    background: none;
}

.formbox{
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
}

.box {
    width: 350px;
    height: 500px;
}

form{
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
    line-height: 35px;
    background-image: url(../assests/photos/FormBackgroung\ Image.jpg);
    opacity: 0.9;
    
    
}

form div{
    display: flex;
    flex-direction: column;
    color: white;
    background: none;
    
}
label{
    background: none;
}



form div input{
    width: 250px;
    height: 20px;
    border-radius: 10px;
    background: rgba(226, 231, 233, 0.242);
    box-shadow: 0 25px 45px rgba(251, 250, 250, 0.176);
    border-radius: 10px;
    border: 2px solid rgba(194, 192, 192, 0.5);
    border-right: 2px solid rgba(255, 255, 255, .2);
    border-bottom: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blue(10px);
    padding: 10px;
    color: white;
}

#submit{
    color: black;
    font-weight: bold;
    width: 270px;
    height: 40px;
    padding: 10px;
    border-radius: 10px;
    background: none;
    background-color: #4dbcc0;
    border: 10px #4dbcc0;
    cursor: pointer;
}
#submit:hover{
    background-color: aquamarine;
}
::placeholder {
    color:#4dbcc0;
}
input:focus{
    outline: none;
}


#Gender {
    width: 270px;
    height: 40px;
    border-radius: 10px;
    background: rgba(226, 231, 233, 0.242); 
    box-shadow: 0 25px 45px rgba(251, 250, 250, 0.176); 
    border: 2px solid rgba(194, 192, 192, 0.5); 
    padding: 5px 10px; 
    color: white;
    font-size: 16px;
    appearance: none; 
    -webkit-appearance: none; 
    -moz-appearance: none;
}


#Gender:focus {
    border-color: rgba(63, 81, 181, 1); 
    box-shadow: 0 0 10px rgba(63, 81, 181, 0.6); 
}

#Gender option {
    background-color: white; 
    color: black;
}


.messageDiv{
    background-color:#4dbcc0;
    color:black;
    display: none;
    padding: 2px 5px;
    margin: 10px;
    border-radius: 5px;
    font-size: 1rem;
    opacity: 0;
    animation: fadeOut 7s forwards;
    font-weight: bold;
}

span{
    background: none;
}

span a{
    background: none;
    color: #4dbcc0;
    margin-left: 10px;
}

span a:hover{
    color: crimson;
}

#emailError{
    color:crimson;
}
#userError{
    color: crimson;
}
#passwordError{
    color: crimson;
}
#cPassError{
    color:crimson;
}

#eyeC{
    font-size: 20px;
    color: black;
    z-index: 10;
    position: relative;
    bottom: 38px;
    left: 240px;
    cursor: pointer;
}
.eye{
    margin: 0;
    padding: 0;
    width: 0;
    height: 0;
}

@media screen and (max-width:480px){
    body{
        background-image: url(../assests/photos/backgroundImage1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
    }
    marquee{
        display: none;
    }
}

  